// Responsividad
@media (max-width: 768px) {
    .hero-section h1 {
      font-size: 2rem;
    }
  
    header .navbar {
      .nav-link {
        margin: 5px 0;
      }
    }
  }
  
  .custom-header-padding {
    padding-top: 0 !important; // Elimina el padding superior
    padding-bottom: 0 !important; // Elimina el padding inferior
  }