// Variables personalizadas
$custom-primary: #8B0000; // Bordó oscuro (rojo principal)
$custom-secondary: #FFD700; // Dorado (amarillo mostaza)
$custom-light: #F9F9F9; // Fondo claro
$custom-font-family: 'Roboto', sans-serif; // Fuente personalizada